body{
    background-image: url('Pic.png');
    background-size: cover;
    background-position: center;
}

.header{
    background-color: rgba(25, 30, 38, 50%);
    margin: 20px;
    border-radius: 1.4rem;
    color: aliceblue;
    padding: 10px;
}

.objDetecting{
    background-color:rgba(25, 30, 38, 50%); 
    color: aliceblue;
    width: 150px;
    height: 35px;
}
.objNumber{
    background-color:rgba(25, 30, 38, 80%); 
    color: aliceblue;
    width: 150px;
    height: 80px;
}

#Start{
    background-image: linear-gradient(rgb(56, 0, 0), rgb(34, 0, 0));
}

canvas{
    border: 10px solid aliceblue;
}